<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-android-resources" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-android-resources</name>
    <hook type="after_prepare" src="hooks/after_prepare.js" />
</plugin>